<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_HOME</key>
	<string>/Users/dan/.local/android/android-sdks</string>
	<key>CVS_RSH</key>
	<string>ssh</string>
	<key>GIT_SSH</key>
	<string>/usr/bin/ssh</string>
</dict>
</plist>
