#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
hash hub >/dev/null 2>&1 && alias git="hub"
alias g="git"
alias h="history"
hash fasd >/dev/null 2>&1 && alias v='f -e nvim'
alias vi="vim"
alias vis="vim -S Session.vim"
alias vs="vim -u NONE"
hash nvim >/dev/null 2>&1 && {
  alias v='f -e nvim'
  alias nv="nvim"
  alias nvs="nvim -S Session.vim"
  alias vimdiff="nvim -d"
}
alias o="open"
alias oo="open ."
alias se="sudo -e"

# Add safety nets
alias rm="rm -i"
alias cp="cp -i"
alias mv="mv -i"

# https://github.com/sharkdp/bat
hash bat >/dev/null 2>&1 && alias cat='bat'

# https://www.colordiff.org/
hash colordiff >/dev/null 2>&1 && alias diff="colordiff"

# exa is deprecated, but eza is not yet available in apt
# https://github.com/ogham/exa
if [ "$(command -v exa)" ]; then
  alias eza="exa"
fi

# https://github.com/eza-community/eza
if [ "$(command -v eza)" ]; then
  alias ls='eza -G --color auto --icons -a -s type'
  alias lsd='eza -G --color auto --icons -a -D'
  alias ll='eza -l -g --color always --icons -a -s type'
else
  # Detect which `ls` flavor is in use
  if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
  else # macOS `ls`
    colorflag="-G"
    # TODO Make these more like jellybeans colors
    export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
  fi

  # List all files colorized in long format, excluding . and ..
  alias la="ls -lAF ${colorflag}"

  # List only directories
  alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

  # List with readable file sizes
  alias ll="ls -alFh ${colorflag}"

  # Always use color output for `ls`
  alias ls="command ls ${colorflag}"
fi

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# List the contents of a .tgz
alias lstz="tar -tzvf"

# Create parent directories on demand
alias mkdir='mkdir -pv'

# Enable SQL syntax highlighting when using edit, \e
alias mysql="EDITOR=\"vim -c 'set ft=sql'\" mysql "

# Enable dark theme for ncdu
if [ "$(command -v ncdu)" ]; then
  alias ncdu="ncdu --color dark"
fi

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Colourify Curl
alias ccurl='colourify curl'

# Gzip-enabled `curl`
alias gurl="curl --compressed"

# Get macOS Software Updates, and update Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew upgrade;'

# IP addresses
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# HTTP serve a directory
alias serve="python -m SimpleHTTPServer 8000"

# Show open ports
alias ports='netstat -tulanp'

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Sort env variables for readability
alias envs='env | sort'

# Stop after sending count ECHO_REQUEST packets
alias ping='ping -c 5'
# Do not wait interval 1 second, go fast
alias fastping='ping -c 100 -s.2'

# JavaScriptCore REPL
jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
[ -e "${jscbin}" ] && alias jsc="${jscbin}";
unset jscbin;

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib.parse as ul; print(ul.quote_plus(sys.argv[1]));"'
alias urldecode='python -c "import sys, urllib.parse as ul; print(ul.unquote_plus(sys.argv[1]));"'

# File formatting
alias jsonformat='python -m json.tool'
alias xmlformat='tidy -xml -i -q'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Airport CLI alias
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  alias "${method}"="lwp-request -m '${method}'"
done

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Find processes in waiting
alias waiting="ps ax | sed '1p;/ [U] /!d'"

# Grep running processes
alias pg="pgrep -fl"

if [[ "$PLATFORM" == 'macos' ]]; then
  alias top="top -ocpu -O+rsize -s 5 -n 20"
elif [[ "$PLATFORM" == 'linux' ]] && hash xclip >/dev/null 2>&1; then
  alias pbcopy="xclip -selection clipboard"
  alias pbpaste="xclip -selection clipboard -o"
fi

_ssh_auth_save() {
  ln -sf "$SSH_AUTH_SOCK" "$HOME/.ssh/ssh-auth-sock.$USER"
}
alias tmux='_ssh_auth_save; tmux'
