# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Explcit history file (don't always use bash. want shared history.)
export HISTFILE=~/.shell_history
# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE=$'[ \t]*:&:[fb]g:exit:ls:cd:cd -:pwd:exit:date:* --help'

# Detect the OS platform
unamestr=`uname`
case "$unamestr" in
	Darwin) PLATFORM='osx' ;;
	Linux) PLATFORM='linux' ;;
	*) PLATFORM='windows' ;;
esac

# Exports for all *nix platforms
if [[ "$PLATFORM" != 'windows' ]]; then
	# Make PHP look for additional ini files so php.ini doesn't have to be modified directly.
	export PHP_INI_SCAN_DIR="/etc/php.d"

	# Give Maven more memory (mostly for Android compilations)
	export MAVEN_OPTS="-Xms512m -Xmx1024m -XX:PermSize=256m -XX:MaxPermSize=512m"
fi

# Exports for OS X
if [[ "$PLATFORM" == 'osx' ]]; then
	# Add Macports and VMware to the path.
	PATH="/usr/local/bin:/usr/local/sbin:/opt/local/bin:/opt/local/sbin:/Library/Application Support/VMware Fusion:$PATH"

	export JAVA_HOME=`/usr/libexec/java_home -v 1.7`

	# Macports Maven 3
	export M2_HOME="/opt/local/share/java/maven3"

    # Make brew installed libraries available.
    export PYTHONPATH="/usr/local/lib/python2.7/site-packages:$PYTHONPATH"

	# Default compiler flags
	export CFLAGS="-arch x86_64"
fi
